* {
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 2% 3% 7% 30% 20% 22% auto 2%;
      grid-template-rows: 2% 3% 7% 30% 20% 22% auto 2%;
  background-image: url(/imagenes/fondo/fondoCelular.jpg);
}

@media all and (min-width: 1024px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 3% 3% 30% 15% 22% auto 3%;
        grid-template-rows: 10% 3% 3% 30% 15% 22% auto 3%;
    background-image: url(/imagenes/fondo/fondoCelular.jpg);
  }
}

header .dropdown {
  display: -ms-grid;
  display: grid;
}

header .grande {
  display: none;
}

@media all and (min-width: 1024px) {
  header {
    background-image: url(/imagenes/fondo/logoEncabezado.png);
    background-position-y: 240px;
    background-size: cover;
  }
  header .dropdown {
    display: none;
  }
  header .grande {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
  }
  header .grande ul {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: 20% 20% 20% 20% 20%;
        grid-template-columns: 20% 20% 20% 20% 20%;
  }
  header .grande ul li {
    font-size: 1.5rem;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  header .grande ul li a {
    color: black;
  }
}

.personaje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.personaje h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu li {
  font-size: medium;
  font-family: sans-serif;
  color: black;
  margin: 5px;
}

@media all and (min-width: 1024px) {
  .menu {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .menu li {
    font-size: 1.8rem;
    font-family: sans-serif;
    color: black;
    margin: 5px;
  }
}

.caracteristicas {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 5% 45% 50%;
      grid-template-rows: 5% 45% 50%;
}

.caracteristicas_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.caracteristicas_titulo h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: white;
}

.caracteristicas .carousel .parte-img .carousel-item .img-carrusel {
  width: 50vh;
  height: 50vh;
  margin: 5px;
}

.caracteristicas .card-text p {
  font-size: medium;
  font-family: sans-serif;
  color: black;
  margin: 5px;
}

@media all and (min-width: 1024px) {
  .caracteristicas {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 10% auto;
        grid-template-rows: 10% auto;
        grid-template-areas: "img1 img2" "img3 img4";
  }
  .caracteristicas_titulo {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img1;
    background-color: black;
  }
  .caracteristicas_titulo h3 {
    font-size: 1.8rem;
    font-family: sans-serif;
    color: white;
  }
  .caracteristicas .carousel {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: img4;
  }
  .caracteristicas .carousel .parte-img .carousel-item .img-carrusel {
    width: 50vh;
    height: 50vh;
    margin: 5px;
  }
  .caracteristicas .card-text {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img3;
  }
  .caracteristicas .card-text p {
    background-color: white;
    height: 50%;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
    margin: 5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.frases_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.frases_titulo h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: white;
}

.frases_lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.frases_lista li {
  font-size: medium;
  font-family: sans-serif;
  color: black;
  margin: 5px;
}

@media all and (min-width: 1024px) {
  .frases {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 13% auto;
        grid-template-rows: 13% auto;
  }
  .frases_titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
  }
  .frases_titulo h3 {
    font-size: 1.8rem;
    font-family: sans-serif;
    color: white;
  }
  .frases_lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .frases_lista li {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
    margin: 5px;
  }
}

.enemigos {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 10% auto;
      grid-template-rows: 10% auto;
}

.enemigos_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.enemigos_titulo h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: white;
}

.enemigos_detalle .img-enemigos {
  width: 40vh;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 50px;
}

.enemigos_detalle_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enemigos_detalle_titulo h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: black;
}

.enemigos_detalle_texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 10px;
  background-color: white;
}

.enemigos_detalle_texto p {
  font-size: medium;
  font-family: sans-serif;
  color: black;
  margin: 20px;
}

@media all and (min-width: 1024px) {
  .enemigos {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% auto;
        grid-template-rows: 10% auto;
  }
  .enemigos_titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
  }
  .enemigos_titulo h3 {
    font-size: 1.8rem;
    font-family: sans-serif;
    color: white;
  }
  .enemigos_detalle {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 10% auto;
        grid-template-rows: 10% auto;
        grid-template-areas: "ene1 ene2" "ene3 ene4";
  }
  .enemigos_detalle .img-enemigos {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: ene3;
    width: 40vh;
    height: 40vh;
    -ms-grid-row-align: start;
        align-self: start;
  }
  .enemigos_detalle_titulo {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ene2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .enemigos_detalle_titulo h3 {
    font-size: 1.8rem;
    font-family: sans-serif;
    color: black;
  }
  .enemigos_detalle_texto {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: ene4;
    margin: 10px;
    background-color: white;
    height: 80%;
    width: 90%;
  }
  .enemigos_detalle_texto p {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: ene4;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
    margin: 20px;
  }
}

.amores_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.amores_titulo h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: white;
}

.amores_carta_img {
  background-image: url(/imagenes/fondo/fondoCelular.jpg);
}

.amores_carta_detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.amores_carta_detalle h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.amores_carta_detalle p {
  font-size: medium;
  font-family: sans-serif;
  color: black;
  margin: 5px;
}

@media all and (min-width: 1024px) {
  .amores {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% auto;
        grid-template-rows: 10% auto;
  }
  .amores_titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
  }
  .amores_titulo h3 {
    font-size: 1.8rem;
    font-family: sans-serif;
    color: white;
  }
  .amores_carta {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
        grid-template-areas: "carta1 carta2";
  }
  .amores_carta_img {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: carta2;
    background-image: url(/imagenes/fondo/fondoCelular.jpg);
  }
  .amores_carta_img .nelson {
    width: 40vh;
    height: 50vh;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .amores_carta_detalle {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: carta1;
    height: 30%;
  }
  .amores_carta_detalle h3 {
    font-size: 1.8rem;
    font-family: sans-serif;
    color: black;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .amores_carta_detalle p {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
    margin: 5px;
  }
}

.texto-pie {
  font-size: 1rem;
}

@media all and (min-width: 1024px) {
  footer .texto-pie {
    font-size: 1.5rem;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}
/*# sourceMappingURL=main.css.map */