*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    height: 100%;
    grid-template-rows: 7% 2% 5% auto 9% 9% 20% 10% 9% 3%;
    background-image: linear-gradient(to bottom, rgb(7, 82, 105) , rgb(118, 189, 224) );
  
}
.encabezado{
    background-image: url(./imagenes/fondo/fondoCelular.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.encabezadoLista{
    justify-content: space-around;
    align-content: flex-start;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows:20% 20% 20% 20% 20%;
    font-size: 15px;
    font-family: sans-serif;
    font-style: normal;
    color: black;
    font-weight: bold;
    justify-content: start;
    margin-left: 30px;
    margin-top: 30px;
}
.encabezadoLista1{
    justify-self: center;
}
.personaje{
    justify-self: center;
}
h1{
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
    color: black;
    font-weight: bold;
    
}
.personajeSeccion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 20px;
    font-size: 25px;
    font-family: sans-serif;
    font-style: normal;
    color: black;
    font-weight: bold;
    margin-left: 30px;
    justify-self: center;
}
.imagenBart{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "primero"
    "segundo"
    "tercero";
    grid-template-rows: 50% 25% 25% ;
    
    justify-items: center;
    align-items: center;
    
}
.imagenBart1{
    grid-area: primero;
    width: 70%;
    height: 100%;

}
.imagenBart2{
   grid-area: segundo;
   width: 50%;
    height: 80%;
}
.imagenBart3{
    grid-area: tercero;
    width: 50%;
    height: 80%;
}
.imagenHomero{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "primero"
    "segundo"
    "tercero";
    grid-template-rows: 50% 25% 25% ;
    
    justify-items: center;
    align-items: center;
    
}
.imagenHomero1{
    grid-area: primero;
    width: 70%;
    height: 100%;

}
.imagenHomero2{
   grid-area: segundo;
   width: 50%;
    height: 80%;
}
.imagenHomero3{
    grid-area: tercero;
    width: 50%;
    height: 80%;
}
.imagenMarge{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "primero"
    "segundo"
    "tercero";
    grid-template-rows: 50% 25% 25% ;
    
    justify-items: center;
    align-items: center;
    
}
.imagenMarge1{
    grid-area: primero;
    width: 70%;
    height: 100%;

}
.imagenMarge2{
   grid-area: segundo;
   width: 50%;
    height: 80%;
}
.imagenMarge3{
    grid-area: tercero;
    width: 50%;
    height: 80%;
    }
.imagenLisa{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: 
        "primero"
        "segundo"
        "tercero";
        grid-template-rows: 50% 25% 25% ;
        
        justify-items: center;
        align-items: center;
        
    }
 .imagenLisa1{
        grid-area: primero;
        width: 70%;
        height: 100%;
    
    }
.imagenLisa2{
       grid-area: segundo;
       width: 50%;
        height: 80%;
    }
.imagenLisa3{
        grid-area: tercero;
        width: 50%;
        height: 80%;
        }
        .imagenMaggie{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "primero"
            "segundo"
            "tercero";
            grid-template-rows: 50% 25% 25% ;
            
            justify-items: center;
            align-items: center;
            
        }
     .imagenMaggie1{
            grid-area: primero;
            width: 70%;
            height: 100%;
        
        }
    .imagenMaggie2{
           grid-area: segundo;
           width: 50%;
            height: 80%;
        }
    .imagenMaggie3{
            grid-area: tercero;
            width: 50%;
            height: 80%;
            }
            
.caracteristicas{
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin: 10px 10px 10px 10px;

}


p{
    margin: 10px 10px 10px 10px;


}
h2{
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;
    color: black;
    font-weight: bold;
    display: flex;
    justify-self: center;
}
.fras{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 20% 80% ;
    justify-items: center;
    margin: 10px 10px 10px 10px;
}
.enemigos{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 10% 50% 40%;
    justify-items: center;
    padding: 5px 5px 5px 5px;
}
/*@keyframes un_efecto{
    0%{width: 100px;}
    25%{ width: 300px;}
    50%{width: 200px;}
    75%{width: 300px;}
    100%{width: 100px;}
}*/
.enemigos_imagen{
    width: 60%;
    height: 80%;
    /*animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 10s;*/
}

.Amores{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "amores1"
    "amores2"
    "amores3";
    grid-template-rows: 20% 60% 20% ;
    justify-items: center;
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
    color: black;
}
.amoresMarge{
    grid-area: amores2;
    width: 50%;
    height: 100%;

}
.amoresHomero{
    grid-area: amores2;
    width: 50%;
    height: 100%;

}
.amoresTexto{
    grid-area: amores3;
    font-size: 20px;

}
#amorNelson{
    width: 20%;
    height: 50%;
    transform: translate(50px 50px);
    transition: height 2s;
}
.nelsonTexto{
    height: 100%;
    width: 100%;
}
#amorNelson:hover{
    height: 200px;
}

.boton{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-items: center;


}
footer{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    background-color: black;


}
h3{
    font-size: 15px;
    font-family: sans-serif;
    font-style: normal;
    color: white;
    font-weight: bold;
    display: flex;
    justify-self: center;
}
#logoInsta{
    height: 40px;
    width: 40px;
    transform: rotate(20deg);

}
#logotwitter{
    position: relative;
    left: 2em;
    height: 40px;
    width: 40px;
    transform: rotate(20deg);
}
.inicioBody{
    display: grid;
    grid-template-rows: 2% auto 2%;
    background-image: url(./imagenes/fondo/fondoCelular.jpg);
}
.inicioTitulo{
    font-size: 45px;
    color: yellow;
    background-color: black;
}
@media all and (min-width:1024px){
    body{
        background-color: burlywood;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 9% 3% 2% 25 9% 10% 20% 10% 10% 3%;
    }
    .encabezado{
        background-image: url(./imagenes/fondo/logoEncabezado.png);
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
        .encabezadoLista{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns:20% 20% 20% 20% 20%;
            font-size: 15px;
            font-family: sans-serif;
            font-style: normal;
            color: black;
            font-weight: bold;
            justify-content: start;
            margin-left: 30px;
            margin-top: 30px;
        }
        h1{
            font-size: 70px;
            font-family: sans-serif;
            font-style: normal;
            color: black;
            font-weight: bold;
            
        }
        .personajeSeccion{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            position: relative;
            top: 20px;
            font-size: 30px;
            font-family: sans-serif;
            font-style: normal;
            color: black;
            font-weight: bold;
            margin-left: 30px;
            justify-self: center;
        }
        .imagenBart{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "primero segundo"
            "tercero cuarto";
            grid-template-rows: 50% 50%;
            
            justify-items: center;
            align-items: center;
            
        }
        .imagenBart1{
            grid-area: primero tercero;
            width: 70%;
            height: 100%;
        
        }
        .imagenBart2{
           grid-area: segundo;
           width: 50%;
            height: 80%;
        }
        .imagenBart3{
            grid-area: cuarto;
            width: 50%;
            height: 80%;
        }
        .imagenHomero{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "primero segundo"
            "tercero cuarto";
            grid-template-rows: 50% 50%;
            
            justify-items: center;
            align-items: center;
            
        }
        .imagenHomero1{
            grid-area: primero tercero;
            width: 70%;
            height: 100%;
        
        }
        .imagenHomero2{
           grid-area: segundo;
           width: 50%;
            height: 80%;
        }
        .imagenHomero3{
            grid-area: cuarto;
            width: 50%;
            height: 80%;
        }
        .imagenHomero{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "primero segundo"
            "tercero cuarto";
            grid-template-rows: 50% 50%;
            
            justify-items: center;
            align-items: center;
            
        }
        .imagenMarge{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "primero segundo"
            "tercero cuarto";
            grid-template-rows: 50% 50%;
            
            justify-items: center;
            align-items: center;
            
        }
        .imagenMarge1{
            grid-area: primero tercero;
            width: 70%;
            height: 100%;
        
        }
        .imagenMarge2{
           grid-area: segundo;
           width: 50%;
            height: 80%;
        }
        .imagenMarge3{
            grid-area: cuarto;
            width: 50%;
            height: 80%;
        }
        .imagenLisa{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "primero segundo"
            "tercero cuarto";
            grid-template-rows: 50% 50%;
            
            justify-items: center;
            align-items: center;
            
        }
        .imagenLisa1{
            grid-area: primero tercero;
            width: 70%;
            height: 100%;
        
        }
        .imagenLisa2{
           grid-area: segundo;
           width: 50%;
            height: 80%;
        }
        .imagenLisa3{
            grid-area: cuarto;
            width: 50%;
            height: 80%;
        }
        .imagenMaggie{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "primero segundo"
            "tercero cuarto";
            grid-template-rows: 50% 50%;
            
            justify-items: center;
            align-items: center;
            
        }
        .imagenMaggie1{
            grid-area: primero tercero;
            width: 70%;
            height: 100%;
        
        }
        .imagenMaggie2{
           grid-area: segundo;
           width: 50%;
            height: 80%;
        }
        .imagenMaggie3{
            grid-area: cuarto;
            width: 50%;
            height: 80%;
        }
        .caracteristicas{
            display: grid;
            grid-template-rows: 15% 85%;
            height: 100%;
            width: 100%;
            justify-items: center;
            align-items: center;
            margin: 10px 10px 10px 10px;
        
        }
        p{
            margin: 10px 10px 10px 10px;
            font-size: 20px;
            font-family: sans-serif;
            font-style: normal;
        
        
        }
        h2{
            font-size: 40px;
            font-family: sans-serif;
            font-style: normal;
            color: black;
            font-weight: bold;
            display: flex;
            justify-self: center;
        }
        .fras{
            display: grid;
            width: 100%;
            grid-template-rows: 30% 70% ;
            justify-items: start;
            margin-left: 40px;
            font-size: 20px;
            font-family: sans-serif;
            font-style: normal;
        }
        .enemigos{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "primero1 segundo2"
            "tercero3 cuarto4";
            grid-template-rows:  20% 80%;
            grid-template-columns: 50% 50%;
            justify-items: center;
            padding: 5px 5px 5px 5px;
        }
        .enemigos_imagen{
            grid-area: tercero3;
            width: 60%;
            height: 80%;
        }
        .enemigos_texto{
            grid-area: cuarto4;
            width: 60%;
            height: 80%;
            font-size: 25px;
            font-family: sans-serif;
            font-style: normal;

        }
        .Amores{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-areas: 
            "amores1"
            "amores2"
            "amores3";
            grid-template-rows: 20% 60% 20% ;
            justify-items: center;
            font-size: 30px;
            font-family: sans-serif;
            font-style: normal;
            color: black;
        }
        .amoresMarge{
            grid-area: amores2;
            width: 30%;
            height: 80%;

        }
        .amoresHomero{
            grid-area: amores2;
            width: 15%;
            height: 70%;

        }
        #AmoresSeccionLisa{
            display: grid;
            width: 100%;
            height: 100%;   
            grid-template-areas: 
            "amorlisa1 amorlisa2"
            "amorlisa4 amorlisa5";  
            grid-template-columns: 50% 50%;
            grid-template-rows: 30% 70%;       
        }
        #AmoresH2{
            width: 100%;
            height: 100%;
            grid-area: amorlisa2;
        }
        #amorNelson{
            justify-self: center;
            grid-area: amorlisa5;
            width: 40%;
            height: 80%;
        }
        #nelsonTexto{
            width: 100%;
            height: 100%;
            grid-area: amorlisa4;
            margin-left: 25px;
            margin-right: 25px;
        }

        .boton{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            justify-items: center;
        }
        form{
            width: 100%;
            margin: 20px 20px 20px 20px;
        }
        footer{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 50% 50%;
            background-color: black;
        }
        h3{
            font-size: 25px;
            font-family: sans-serif;
            font-style: normal;
            color: white;
            font-weight: bold;
            display: flex;
            justify-self: center;
        }
        #logoInsta{
            height: 50px;
            width: 50px;
        
        }
        #logotwitter{
            position: relative;
            left: 2em;
            height: 50px;
            width: 50px;
        }
        .inicioBody{
            display: grid;
            grid-template-rows: 2% auto 5%;
            background-image: url(./imagenes/fondo/fondoCelular.jpg);
        }
        .imagenInicio{
            display: grid;
            grid-template-columns: 30% 40% 30%;
            grid-template-rows: 50% 50%;
            grid-template-areas:
            "inicio1 inicio2 inicio3"
            "inicio4 inicio5" ;
            justify-items: center;
            align-items: center;
        }
        .inicioTitulo{
            font-size: 45px;
            color: yellow;
            background-color: black;
            justify-self: center;
        }
        .inicioPie{
            width: 100%;
            height: 100%;
        }
        a{
            font-size: 25px;
            justify-self: center;
            font-family: sans-serif;
            font-style: normal;
            color: black;
            font-weight: bold;
            
        }
}