@import "./variables";
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
} 
@mixin partes ($row, $colunm) {
    grid-template-rows: $row;
    grid-template-columns: $colunm;    
}
.amores{
    &_titulo{
            display: flex;
            position: relative;
            justify-content: center;
            background-color: black;
            h3{
                font-size: $t_titulo;
                font-family: $f_texto;
                color: $blanco;
                }
    }
    &_carta{
            &_img{
                background-image: url(/imagenes/fondo/fondoCelular.jpg);
            }
            &_detalle{
                display: flex;
                position: relative;
                flex-direction: column;
                h3{
                    font-size: $t_titulo;
                    font-family: $f_texto;
                    }
                p{
                    font-size: medium;
                    font-family: $f_texto;
                    color: black;
                    margin: 5px;
                }
            }
    }
}
.amores-bart-homero-marge{
    display: grid;
    @include sizes(100%,100% );
    @include partes(15% auto, 100% );
    &_titulo{
       background-color: black; 
       font-size: 1.5rem;
       color: white;
    }
    .carousel{
     .carousel-item{
         .img-carrusel{
             @include sizes(40vh, 40vh )
         }
     }
    }
}
.amor-desk-bart{
    display: none;
}
@media all and (min-width:1024px){
    .amores{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto;
        &_titulo{
            display: flex;
            position: relative;
            justify-content: center;
            background-color: black;
            h3{
            font-size: 1.8rem;
            font-family: sans-serif;
            color: white;
            }
        }
        &_carta{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            grid-template-areas: 
            "carta1 carta2";
                &_img{
                    display: grid;
                    grid-area: carta2;
                    background-image: url(/imagenes/fondo/fondoCelular.jpg);
                    .nelson{
                        width: 40vh;
                        height: 50vh;
                        justify-self: center;
                    }
                }
                &_detalle{
                    display: grid;
                    grid-area: carta1;
                    height: 30%;
                    h3{
                        font-size: 1.8rem;
                        font-family: $f_texto;
                        color: black;
                        justify-self: center;
                        }
                    p{
                        font-size: 1.5rem;
                        font-family: $f_texto;
                        color: black;
                        margin: 5px;
                    }
                }
        }
    }

}
