body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2% 3% 8% 25% 15% 20% 25 2%;
    background-image:  url(/imagenes/fondo/fondoCelular.jpg);
}
@media all and (min-width:1024px){
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 3% 3% 30% 15% 22% auto 3%;
        background-image:  url(/imagenes/fondo/fondoCelular.jpg);
    }
}