@import "./variables";
/*.caracteristicas{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 5% 45% 50%;
    &_titulo{
        display: flex;
        position: relative;
        justify-content: center;
        background-color: black;
        h3{
        font-size: $t_titulo;
        font-family:$f_texto ;
        color: white;
        }
    }
    .carousel{
        .parte-img{
            .carousel-item{
                .img-carrusel{
                    width: 50vh;
                    height: 50vh;
                    margin: 5px;
                }
            }
        }
    }
    .card-text{
        p{
            font-size: medium;
            font-family: sans-serif;
            color: black;
            margin: 5px;  
        }
    }
}
@media all and (min-width:1024px){
    .caracteristicas{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% auto;
        grid-template-areas: 
        "img1 img2"
        "img3 img4";
        &_titulo{
            display: grid;
            grid-area: img1;
            background-color: black;
            h3{
            font-size: 1.8rem;
            font-family:$f_texto ;
            color: white;
            }
        }
        .carousel{
            display: grid;
            grid-area: img4;
            .parte-img{
                .carousel-item{
                    .img-carrusel{
                        width: 50vh;
                        height: 50vh;
                        margin: 5px;
                    }
                }
            }
        }
        .card-text{
            display: grid;
            grid-area: img3;
            p{
                background-color: white;
                height: 50%;
                font-size: 1.5rem;
                font-family: $f_texto;
                color: black;
                margin: 5px;  
                align-self: center;
            }
        }
    }

}*/
@mixin sizes ($width, $height){
    width: $width;
    height: $height;
} 
@mixin partes ($row, $colunm) {
    grid-template-rows: $row;
    grid-template-columns: $colunm;    
}
.caracteristicas{
    &_movel{
        display: grid;
        @include sizes(100%, 100% );
        @include partes( 7% 53% 40%, 100% );
        &_titulo{
            display: flex;
            position: relative;
            justify-content: center;
            background-color: black;
            h3{
            font-size: $t_titulo;
            font-family:$f_texto ;
            color: white;
            }
        }
        .carousel{
            .parte-img{
                .carousel-item{
                    .img-carrusel{
                        @include sizes(45vh, 45vh );
                        margin: 5px;
                    }
                }
            }
        }
        .card-text{
            p{
                font-size: medium;
                font-family: sans-serif;
                color: black;
                margin: 5px;  
            }
        }
    }
    &_desk{
        display: none;
    }
}