.caracteristicas{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 5% 45% 50%;
    &_titulo{
        display: flex;
        position: relative;
        justify-content: center;
        background-color: black;
        h3{
        font-size: 1.5rem;
        font-family: sans-serif;
        color: white;
        }
    }
    .carousel{
        .parte-img{
            .carousel-item{
                .img-carrusel{
                    width: 50vh;
                    height: 50vh;
                    margin: 5px;
                }
            }
        }
    }
    .card-text{
        p{
            font-size: medium;
            font-family: sans-serif;
            color: black;
            margin: 5px;  
        }
    }
}