.enemigos{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 10% auto;
    &_titulo{
        display: flex;
        position: relative;
        justify-content: center;
        background-color: black;
        h3{
        font-size: 1.5rem;
        font-family: sans-serif;
        color: white;
        }
    }
    &_detalle{
        .img-enemigos{
            width: 2vh;
            height: 2vh;
            display: flex;
            position: relative;
            left: 50px;
        }
        &_titulo{
            display: flex;
            position: relative;
            justify-content: center;
            background-color: black;
            h3{
            font-size: 1.5rem;
            font-family: sans-serif;
            color: white;
            }
        }
        &_texto{
            display: flex;
            position: relative;
            margin: 10px;
            background-color: white;
            p{
                font-size: medium;
                font-family: sans-serif;
                color: black;
                margin: 20px;
            }
        }
    }
}
