.menu{
    display:flex ;
    position: relative;
    flex-direction: column;
    li{
        font-size: medium;
        font-family: sans-serif;
        color: black;
        margin: 5px;
    }
}
@media all and (min-width:1024px){
    .menu{
        display:grid ;
        width: 100%;
        height: 100%;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
        li{
            font-size: 1.8rem;
            font-family: sans-serif;
            color: black;
            margin: 5px;
        }
    }
}